<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.mybatisapp.mybatis.dto.Board">

	<!--
		개발자는 DAO의 존재는 그대로 유지하되, 기존 DAO가 담당하던 JDBC 코드는 Mybatis 의 XML 에 작성하고
		이 xml 에 접근할 때 name 스페이스와 id를 이용하여 간접적으로 쿼리를 수행한다.
	 -->
	 <insert id = "insert" parameterType = "com.ch.mybatisapp.dto.Board">
	 	insert into board(title, writer, content) values(#{title}, #{writer}, #{content})
	 </insert>
	 
	 <!-- 아래의 쿼리문 수행 후 반환되는 레코드 한 건을 받게 될 DTO 를 명시해야 함
	 		주의) 아래의 쿼리에 의해 반환되는 레코드가 여러건이라고 해서 java.utill.List 를 resultType 에 명시해선 안 된다.
	 		이미 내부적으로 List 가 사용되고 있으므로, 개발자가 DTO를 모아놓을 List 처리를 따로 하지 않아도 된다.
	  -->
	 <select id="selectAll" resultType = "com.ch.mybatisapp.dto.Board">
	 	select board_id, title, writer, content, regdate, hit from board order by board_id desc
	 </select>

	<update id = "update" parameterType = "com.ch.mybatisapp.dto.Board">
		update board set title = #{title}, writer = #{writer}, content = #{content} where board_id = #{board_id}
	</update>
	
	<!-- 주입시킬 파라미터가 1건 밖에없으므로, DTO를 명시하지 않고 기본 자료형만 사용하면 알아서 대입. -->
	<delete id  = "delete" parameterType = "int"> 
		delete from board where board_id=#{board_id}
	</delete>

</mapper>