.container {
    width: 700px;
    height: 700px;
    margin: auto;
}
.header {
    width: 100%;
    height: 50px;
    background-color: cornsilk;
    text-align: center;
    line-height: 50px;
}
.days {
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    position: relative;
    text-align: center;
    line-height: 50px;    
}
.content {
    width: 100%;
    height: 600px;
    background-color: aliceblue;
    position: relative;
}

